.icon__btn {
    display: flex;
    gap: 1.5rem;
    margin-top: 50px;
}
.icon__btn img {
    width: 40px;
}


@media only screen and (max-width: 992px) {
    .icon__btn img {
        width: 35px;
    }
}

@media only screen and (max-width: 420px) {
    .icon__btn img {
        width: 30px;
    }
}