.contact{
    color: #fff;
    overflow: hidden;
    padding-top: 8rem;
}

.contact p{
    font-size: 1.5rem;
    width: 40vw;
    text-align: center;
    margin: auto;
}

.train__margin{
    height: 3px;
    background-color: #aaa;
    margin: 0 5vw;
}
.train__margin--up{
    margin-top: 10vh;
    margin-bottom: 3rem;
}
.train__margin--down{
    margin-top: 0.13em;
}

.contact--train{
    font-size: 6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 10px;
    color: rgba(170, 170, 170, 0.6);
    overflow: hidden;
}
.contact--train h1{
    margin: 0;
    margin-bottom: 0.13em;
    white-space: nowrap;
    overflow: hidden;
}
.contact--train h1 span:hover{
    color: #aaa;
}

.contact__details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5rem;
    align-items: flex-start;
    justify-items: center;
    margin-top: 5rem;
}

.heading{
    margin-bottom: 0.3em;
    font-size: 4rem;
}

.contact__details p{
    text-align: left;
    margin: 0;
    margin-bottom: 3rem;
}
.contact__details h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img{
    width: 40%;
    border: 8px solid var(--dark_green);
    border-radius: 50%;
    margin: auto;
}

footer{
    margin: 2rem 0;
}
.contact p:last-child{
    font-size: 1.2rem;
}